.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 360px;
  padding: 30px 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-box {
  width: 360px;
  margin: 120px auto;
  padding: 30px 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card h2,
.auth-box h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.auth-card input,
.auth-box input,
.auth-box select {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.2s ease;
}

.auth-card input:focus,
.auth-box input:focus,
.auth-box select:focus {
  outline: none;
  border-color: #1976d2;
}


.primary-btn,
.auth-box button {
  padding: 12px;
  background: #1976d2;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.primary-btn:hover,
.auth-box button:hover {
  background: #125aa3;
}


.auth-footer {
  text-align: center;
  font-size: 14px;
  color: #555;
}


.link-btn {
  color: #1976d2;
  font-weight: 600;
  text-decoration: none;
}

.link-btn:hover {
  text-decoration: underline;
}
